.cards{
    /* height: 200px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: 30px;
    margin-bottom: 300px;
     */
     width:80%;
     margin:0 auto;
}
.course-text{
    color:black;
    font-family: cursive;
    font-size: 30px;
}